<style>  

/* Alpha Banner */
#alpha-banner {
    background-color: #083C6C;
    color: #FFF;
}
#alpha-banner .tag {
    background-color: #FFF;
    color: #083C6C;
    padding: 6px 16px;
    margin-top: 20px;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
}
#alpha-banner .proj-link {
    margin: 20px 16px;
    display: inline-block;
}
#alpha-banner .proj-link a:link, #alpha-banner .proj-link a:visited {
    color: #FFF;
}
#alpha-banner .proj-link a:hover {
    color: #CCC;
}
/* WET Overrides */
.checkbox-inline input[type=checkbox] {
    margin-left: -35px;
}
.checkbox-inline label {
    padding-left: 15px;
}
label.required:after {
    content: " (required)";
    color: #d3080c;
    font-weight: 700;
}
.pattern-demo {
    padding: 19px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px #DDD;
}
a.figcaption figcaption {
    text-decoration: none !important;
    color: black;
}
a.figcaption figcaption .link {
    color:#2b4380;
    text-decoration: underline;
}
a:visited.figcaption figcaption .link {
    color:#7834bc;
}
a:hover.figcaption figcaption .link {
    color:#0535d2;
}
</style>
