<style>  

/* Alpha Banner */
#alpha-banner {
    background-color: #083C6C;
    color: #FFF;
}
#alpha-banner .tag {
    background-color: #FFF;
    color: #083C6C;
    padding: 6px 16px;
    margin-top: 20px;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
}
#alpha-banner .warning {
    margin: 20px 16px;
    display: inline-block;
}
@media (max-width: 768px) {
    #alpha-banner .warning {
        margin-left: 0;
        margin-right: 0;
    }
}

/* WET Overrides */
.checkbox input[type=checkbox] {
    margin-left: 0;
}
.checkbox label {
    padding-left: 30px;
}
label.required:after {
    content: " (required)";
    color: #d3080c;
    font-weight: 700;
}
</style>
