<div class="well brdr-0 brdr-rds-0 bg-gctheme opct-90">
    <div class="row">
    <div class="col-sm-8">
    <h1>{{ page.name }}</h1>
    <p>{{ page.short-description }}</p>
</div>
    <div class="col-sm-4">
        <img class="img-responsive" alt="{{ page.feature-img-alt }}" src="{{ page.feature-img-path | relative_url }}">
    </div>
</div>
</div>


<section class="alert alert-info">
    {% if page.lang == 'en' %}
    <p>This pattern is currently <strong>{{ page.status }}</strong>.</p>
    {% else %}
    <p>Ce modèle est actuellement <strong>{{ page.status }}</strong>.</p>
    {% endif %}
</section>