<div class="row wb-eqht">
{% for pattern in site.patterns %}
    {% if pattern.lang == page.lang %}
    <div class="col-sm-6 col-lg-4 mrgn-bttm-md">
        <a class="figcaption hght-inhrt" href="{{ pattern.url | relative_url }}">
            <figure class="well well-sm hght-inhrt">
                {% if pattern.feature-img-path %}
                <img class="img-responsive full-width" alt="" src="{{ pattern.feature-img-path }}">
                {% endif %}
                <figcaption>
                    <div class="h4 link">{{ pattern.name }}</div>
                    {{ pattern.short-description }}
                </figcaption>
            </figure>
        </a>
    </div>
    {% endif %}
{% endfor %}
</div>
