{% capture lngLinks %} 
[{
  "href": "{{ page.lang-link }}",
  {% if page.lang == 'en' %}
    "lang": "fr",
    "text": "Français"
  {% else %}
    "lang": "en",
    "text": "English"
    {% assign frhome = "index-fr.html" %}
  {% endif %}
}]
{% endcapture %}

<script>
  document.write(wet.builder.top({
    "lngLinks": {{ lngLinks }},
    "search": false,
    "siteMenu": false,
    "showPreContent": false,
    "breadcrumbs": [{
      "title": "{{ site_title }}",
      "href": "{{ '/' | relative_url }}{{ frhome }}"
    }]
  }));
</script>

<span class="wb-prettify all-pre linenums"></span>
