.content {
    margin: 0 auto;
    padding: 10px 15px;
    box-sizing: content-box;
}

@media (min-width: 768px){
    .content {
        width: 750px;
    }
}

@media (min-width: 992px){
    .content {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .content {
        width: 1170px;
    }
}