.markdown h1 {
    border-bottom: 1px solid #af3c43;
    margin-bottom: 0.2em;
    margin-top: 1em;
    padding-bottom: 0.2em;
}

.markdown h2 {
    margin: 38px 0 12px;
}

.markdown p {
    margin: 0 0 11.5px;
}